.route-plan-container{
    background-color: rgb(248, 248, 244);
    padding-bottom: 80px;    
}

.second-route-head{
    font-size: 1.5em;
    margin-top: 25px;
    margin-bottom: 35px;
    font-weight: bold;
}

.second-map-head{
    font-size: 1.5em;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.route-map-container{
   display: flex;
   align-items: center;
   justify-content: center;   
}

.route-checkbox{
  margin-left: 20px;
}

.route-head-container{
    background-color: #198754;
    padding: 50px;
    border-radius: 0 0 50px 50px;
    color: white;
    text-align: center;
}

.weekly-content{
    margin-top: 35px;
    font-size: 1em;
}